https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Adventures-of-Bertram-Fiddle-Episode-2-A-Bleaker-Predicklement--1460031.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/ABZ--1467719.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Baba-Is-You-1423843.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Grim-Fandango-Remastered-1462552.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Night-in-the-Woods-1334375.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/GRIS-1483920.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Celeste-1207064.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Dead-Cells-1333359.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Hollow-Knight-1125772.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Guacamelee-2-1475565.html
https://www.nintendo.it/Giochi/Nintendo-Switch/Wolfenstein-II-The-New-Colossus-1276093.html
https://www.nintendo.it/Giochi/Nintendo-Switch/New-Super-Mario-Bros-U-Deluxe-1438640.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Firewatch-1486054.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Dragon-s-Lair-Trilogia-1497141.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Bud-Spencer-Terence-Hill-Slaps-And-Beans-1405535.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/South-Park-Il-Bastone-della-Verita--1447008.html
https://www.nintendo.it/Giochi/Nintendo-Switch/South-Park-Scontri-Di-Retti--1347905.html
https://www.nintendo.it/Giochi/Nintendo-Switch/This-Is-the-Police-1295106.html
https://www.nintendo.it/Giochi/Nintendo-Switch/This-Is-The-Police-2-1447178.html
https://www.nintendo.it/Giochi/Nintendo-Switch/Diablo-III-Eternal-Collection-1417875.html
https://www.nintendo.it/Giochi/Nintendo-Switch/Donkey-Kong-Country-Tropical-Freeze-1325706.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/The-Darkside-Detective-1337080.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Detective-Gallo-1416010.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Milanoir-1384498.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Salt-and-Sanctuary-1409841.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Cuphead-1532319.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Hob-The-Definitive-Edition-1537104.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/The-Banner-Saga-1378942.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Banner-Saga-2-1385914.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Banner-Saga-3-1401748.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Batman-The-Enemy-Within-1453807.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Don-t-Starve-Nintendo-Switch-Edition-1361973.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/ICEY-1384192.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Le-Avventure-di-Bertram-Fiddle-Episodio-1-Un-Affare-Oscuro-1356997.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Old-Man-s-Journey-1337462.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Oxenfree-1288984.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/The-Messenger-1429832.html
https://www.nintendo.it/Giochi/Nintendo-Switch/Yesterday-Origins-1383088.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Owlboy-1335414.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Wonder-Boy-The-Dragon-s-Trap-1215497.html
https://www.nintendo.it/Giochi/Giochi-scaricabili-per-Nintendo-Switch/Forgotton-Anne-1463046.html